<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger card-header-black">
                        <div style="display: flex;">
                            <div class="align-self-end">
                                <div class="input-group col-md-12">
                                    <button mat-raised-button type="submit" class="btn btn-white pull-right"
                                        style="padding: 8px 8px !important;margin-top: 17px;margin-bottom: 0px;"
                                        data-toggle="modal" data-target="#exampleModal"
                                        (click)="loadEditGanhador(null)"> Adicionar Ganhador
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th><i class="material-icons">image</i></th>
                                    <th>Titulo</th>
                                    <th>Ganhador</th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let ganhador of listGanhadores | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
                                        <td><img src="/uploads/{{ganhador.imagem}}" style="width: 100px;height: 100px;">
                                        </td>
                                        <td>{{ganhador.titulo}}</td>
                                        <td><b>{{ganhador.ganhador}}</b></td>
                                        <td>
                                            <i class="material-icons background-icons text-info"
                                                style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal"
                                                (click)="loadEditGanhador(ganhador.id)">edit</i>
                                        </td>
                                        <td>
                                            <i class="material-icons background-icons text-danger"
                                                (click)="deletar(ganhador)" style="cursor: pointer;">delete_outline</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior"
                                nextLabel="Próximo" style="text-align: end;"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit Ganhador-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editganhadorModalH5">Ganhador</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModalGanhador">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="display: grid;grid-template-columns: 1fr 1fr;margin-top: 20px;">
                    <div class="align-self-end">
                        <div class="input-group col-md-12">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle bt-close-filter bt-size-filter dropleft"
                                  type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  {{ganhador.titulo ? ganhador.titulo.substring(0, 21) : 'Sorteio'}}
                                </button>
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary bt-close-filter" type="button">
                                    <i class="material-icons">close</i>
                                  </button>
                                </div>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" style="color: black;" *ngFor="let sorteio of sorteioList"
                                    (click)="setSorteio(sorteio)">
                                    {{ sorteio.titulo }}
                                  </a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="align-self-end">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control bt-border-custom" placeholder="Id Cliente"
                                aria-label="Cliente" aria-describedby="basic-addon2" style="color: black;"
                                [(ngModel)]="ganhador.idCliente">
                        </div>
                    </div>
                </div>

                <div style="display: grid;grid-template-columns: 1fr 1fr;margin-top: 20px;">
                    <div class="align-self-end">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control bt-border-custom" placeholder="Cota"
                                aria-label="Cota" aria-describedby="basic-addon2" style="color: black;"
                                [(ngModel)]="ganhador.numeroSorteado">
                        </div>
                    </div>
                    <div class="align-self-end">
                        <div class="input-group col-md-12">
                            <input type="date" class="form-control bt-border-custom" placeholder="Data Sorteio"
                                aria-label="Data Sorteio" aria-describedby="basic-addon2" style="color: black;"
                                [(ngModel)]="ganhador.dataSorteio">
                        </div>
                    </div>
                </div>

                <div style="display: grid;grid-template-columns: 1fr;margin-top: 20px">
                    <div class="align-self-end">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control bt-border-custom" placeholder="Link"
                                aria-label="Link" aria-describedby="basic-addon2" style="color: black;"
                                [(ngModel)]="ganhador.linkVideoYoutube">
                        </div>
                    </div>
                </div>

                <div class="align-self-end" style="margin-top: 20px">
                    <div class="input-group col-md-12">
                        <input type="file" style="display: none;" class="file-upload" [(ngModel)]="ganhador.imagem"
                            (change)="fileChange($event)" #fileUpload>

                        <div class="file-upload">

                            {{fileName.substring(0,15) || "Selecionar imagem"}}

                            <button mat-mini-fab class="btn btn-primary" (click)="fileUpload.click()"
                                style="margin-left: 5px;">
                                <i class="material-icons">attach_file</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="saveOrUpdate()">Salvar</button>
            </div>
        </div>
    </div>
</div>