<div style="margin-left: -8%;margin-right: -8%;">
    <!--Minhas Compras-->
    <section class="meusnumeros" style="margin-top: 30px;background-color: transparent;display: inline;">
        <div style="text-align: end;">
            <i class="material-icons" (click)="onNoClick('')">close</i>
        </div>
        <div class="title" style="text-align: center;">
            <h2 class="medium-bold colorazul2">Meus Números</h2>
        </div>
    </section>

    <div style="text-align: -webkit-center;">
        <div *ngIf="!listMinhasCompras" class="loader"></div>
    </div>

    <section class="meusnumeros" style="display: inline;overflow-y: scroll;">
        <div class="boxs-ativos" style="grid-template-columns: 1fr !important;">
            <div *ngFor="let compra of listMinhasCompras" class="box size-box" style="display: block;">
                <div class="direction-card">
                    <div class="card font-xs" style="width: 100%;">
                        <div class="card-body font-xs">
                            <p><b style="font-weight: bold;">{{compra.tituloSorteio}}</b></p>
                        </div>

                        <div style="min-height: 50%;">
                            <div class="direction-info-minhas-compras">
                                
                                <div>
                                    <div>
                                        Resv. em: <label class="text-checkout-dados" style="font-weight: bold;">{{compra.dataCompra | date: 'dd/MM/yyyy HH:mm'}}</label>
                                    </div>
                                </div>

                                <div>
                                    Situação: <label [ngClass]="getStatusColor(compra.status)">{{compra.status == 'Não Iniciado' ? 'Pagamento Pendente'
                                        : compra.status}}
                                    </label>
                                </div>

                                <div>
                                    <div>Minhas Cotas</div>
                                    <div class="text-cotas-checkout" *ngIf="!compra.rifinha">
                                        <div style="color: #595f6f;font-weight: bold;" *ngFor="let cota of compra.cotas">
                                            {{("000" + cota).slice(-3) | mask: '999'}},</div>
                                    </div>
                                    <div class="text-cotas-checkout" *ngIf="compra.rifinha">
                                        <div style="color: #595f6f;font-weight: bold;" *ngFor="let cota of compra.cotas">
                                            {{("00" + cota).slice(-2) | mask: '99'}},</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>