<div>
    <section >
        <div class="title">
            <h2 class="medium-bold colorazul2" style="font-size: 30px;">Termos</h2>
            <h5 class="medium colorazul2">Confira os termos da premiando</h5>
        </div>
    </section>

    <section class="sorteiosativos" style="margin-top: 50px;">
        <div class="title">
            <h5 class="medium-bold colorazul2">Da participação nos sorteios</h5>
            <h5 class="medium colorazul2">Toda e qualquer pessoa maior de 16 anos pode participar de ações disponíveis.</h5>

            <h5 class="medium-bold colorazul2">Pagamento do bilhete</h5>
            <h5 class="medium colorazul2">O Pagamento devera ser efetuado através de Transferência Bancaria, deposito ou Boleto</h5>

            <h5 class="medium-bold colorazul2">Entrega do premio</h5>
            <h5 class="medium colorazul2">Para os ganhadores de outras cidades a PREMIANDO garante o pagamento das despesas do ganhador para vir retirar o prêmio, ou a entrega em sua cidade de acordo com o regulamentos de cada sorteio. Em nenhum dos casos não haverá nenhum ônus para o ganhador. </h5>
            
            <h5 class="medium-bold colorazul2">Adiantamento do sorteio</h5>
            <h5 class="medium colorazul2">Caso a Rifa não tenha mais de 95% dos bilhetes pagos, o sorteio será adiado até que o mesmo seja completamente vendido.
            </h5>

            <h5 class="medium-bold colorazul2">Da definição dos ganhador</h5>
            <h5 class="medium colorazul2">O ganhador do sorteio será sempre o participante que tiver seu nome e celular 
                gravados no bilhete premiado. No caso de pagamento em duplicidade, ou seja, em casos raros onde duas 
                pessoas clicam no mesmo bilhete simultaneamente o ganhador do sorteio será o participante que tiver 
                o nome e celular gravados no bilhete no momento do sorteio. O participante que, no caso de compra 
                em duplicidade não tiver o nome gravado no bilhete deverá solicitar reembolso do valor pago pelo bilhete em questão.
            </h5>

            <h5 class="medium-bold colorazul2">Das proibições</h5>
            <h5 class="medium colorazul2">É completamente vedado a participação do organizador em sua própria ação.</h5>
            <h5 class="medium colorazul2">O site pode alterar a qualquer momento estes termos visando melhorar a qualidade do serviço oferecido.</h5>
            <h5 class="medium colorazul2">O site informará a todos os usuários sempre que ocorrer uma alteração nos termos de uso e o usuário deverá aceitar as mudanças para continuar utilizando o site.</h5>
        </div>
    </section>
</div>