 .botao-laranja {
   background-color: #fc7322;
   border-radius: 10px !important;
   color: white !important;
   text-align: center;
   padding: 7px 20px ;
 }

 .botao-branco {
   background-color: #efefef4f;
   border-radius: 10px !important;
   color: #fc7322 !important;
   text-decoration: none;
   text-align: center;
   padding: 20px 27px !important;
   font-size: 14px;
 }

 .texto-laranja {
   color: #fc7322 !important;
 }

 .bold {
   font-weight: 800;
 }

 .medium {
   font-weight: 500;
 }

 .medium-bold {
   font-weight: 700;
 }

 .colorazul {
   color: #1D2C3F !important;
 }

 .colorazul2 {
   color: #000000 !important;
 }

 /*header*/
 .header {
   overflow: hidden;
   padding-bottom: 20px;
   display: grid;
   grid-auto-flow: column;
   align-items: center;
   -webkit-box-shadow: #2d3f4557 0 3px 11px 0 !important;
   margin-bottom: 50px;
   width: 135.6%;
   margin-left: -18%;
   background-color: white;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
 }

 .header a {
   float: left;
   color: #000000bf;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 13px;
   line-height: 25px;
   border-radius: 4px;
 }

 .header-menu {
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
 }

 /*minha conta*/
 .header-account {
   display: flex;
   align-items: flex-start;
   justify-content: center;
 }


 /*logo*/
 .header a.logo {
   font-size: 25px;
   font-weight: 700;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 5px;
 }

 /*menu mobile*/
 .header-menu.mobile {
   display: none;
   transition: ease;
 }

 .header-menu.mobile.active {
   top: 0px;
   position: absolute;
   height: 100%;
   width: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: white;
   z-index: 9;
   animation: 1s ease 0s 1 normal none running exibemenu;
   /* padding-top: 50px; */
   display: flex !important;
 }

 @keyframes exibemenu {
   from {
     height: 0;
     opacity: 0;
   }

   to {
     height: 100%;
     opacity: 1;
   }
 }

 /*section hero*/
 .hero>img {
   position: absolute;
   z-index: -99;
   height: 677px;
   width: 100%;
   left: 0;
   opacity: 0.5;
 }

 .hero {
   display: flex;
   justify-content: center;
   gap: 10px;
 }


 /*hero left*/
 .hero-left {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   width: 30%;
 }

 .hero-left>.texto-bloco1>h6 {
   margin: 0;
   margin-bottom: 15px;
 }

 .hero-left>.texto-bloco1>h2 {
   margin: 0px;
   font-size: 32px;
 }

 @media (max-width: 450px) {
   .hero-left>.texto-bloco1>h2 {
     font-size: 150% !important;
   }
 }

 /*box bottons*/
 .hero-left>.box-bottons {
   display: flex;
   flex-direction: row;
   -webkit-box-shadow: 0px 0px 46px 15px rgba(153, 153, 153, 0);
   box-shadow: 0px 0px 46px 15px rgba(153, 153, 153, 0);
   border-radius: 10px;
   margin-top: 10px;
   width: max-content;
 }

 .hero-left>.box-bottons>div>h6 {
   margin: 0;
 }

 .hero-left>.texto-bloco2>h6 {
   margin-top: 15px;
   line-height: 17px;
   font-size: 13px;
 }

 .hero-left>.box-bottons>div {
   padding: 0px 10px;
   min-width: 140px;
   display: flex;
   border-radius: 10px;
   background-color: rgb(255, 255, 255);
   justify-content: center;
   align-items: center;
 }

 .hero-left>.box-bottons>div:nth-child(1) {
   z-index: 3;
 }

 .hero-left>.box-bottons>div:nth-child(2) {
   z-index: 2;
 }

 .hero-left>.box-bottons>div:nth-child(2) {
   z-index: 1;
 }

 .hero-left>.box-bottons>div:nth-child(2),
 .hero-left>.box-bottons>div:nth-child(3) {
   margin-left: -20px;
   padding: 15px 15px !important;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   background: rgb(217, 217, 217);
   background: linear-gradient(80deg, rgb(217 217 217 / 39%) 0%, rgba(255, 255, 255, 1) 59%);
 }

 @media (max-width: 425px) {
   .hero-left>.box-bottons {
     transform: scale(0.8);
     margin-top: 10px !important;
   }

   .hero-right {
     margin-top: 10px !important;
     padding: 10px !important;
     transform: scale(1.0);
   }

   .hero-left {
     margin-top: 10px;
   }
 }

 @media (max-width: 325px) {
   .hero-left>.box-bottons {
     transform: scale(0.7);
   }
 }


 /*hero right*/
 .hero-right {
   padding-right: 0px;
   width: 100%;
 }

 .hero-right>img {
   width: 100%;
 }

 /*section participar*/
 .participar {
  margin-top: 30px;
  margin-left:0px;
  width: 100%;
  margin-bottom: 30px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #e3e3e3;
  border-width: 1px;
 }

 .participar>div>div.title>h5 {
   margin-top: 5px;
 }

 .participar>.container {
   background-color: white;
   border-radius: 10px;
   padding: 40px 0px 40px 0px;
   box-shadow: rgba(153, 153, 153, 0) 0px 0px 46px 15px;
   max-width: 100%;
 }

 .participar>.container .boxs {
   margin-top: 0px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
 }

 .font-participar {
   font-size: 12px;
   font-weight: bold;
 }

 .font-all-title {
   font-size: 30px;
 }

 #content-box-participar {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: white;
   box-shadow: rgba(153, 153, 153, 0) 0px 3px 20px 1px;
   border-radius: 10px;
   margin: 0px;
   gap: 30px;
   padding: 0px 0px;
   transition: all 1s ease 0s;
 }

 #content-box-participar:hover {
   transform: translateY(-10px);
   transition: all 1s ease 0s;
 }

 @media (min-width: 1366px) {
   #content-box-participar {
     width: 265px;
   }
 }

 @media (max-width: 768px) {
   body>section.participar>div>div.title {
     text-align: center;
   }

   .participar>.container .boxs {
     margin-top: 10px;
     width: 100%;
     margin-left: 0px;
   }

   #content-box-participar {
     width: 100%;
     height: 147px;
     min-width: 293px;
     padding: 10px;
   }

   #content-box-participar>div>h6 {
     height: auto;
   }

   .participar>.container {
     padding: 20px 0px 20px 0px;
   }

   .participar {
     margin-top: 30px;
   }


 }

 #content-box-participar>div>h5 {
   margin-top: 5px;
   margin-bottom: 5px;
 }

 #content-box-participar>div>h6 {
   margin-top: 0px;
   height: 45px;
   margin-bottom: 0;
 }

 #content-box-participar:nth-child(4) {
   margin-right: 0px !important;
 }

 #content-box-participar>div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: 71px;
 }

 /*section sorteios ativos*/
 .sorteiosativos {
   margin-top: 150px;
   background-color: white;
 }

 .sorteiosativos>div.title>h5 {
   margin-top: 5px;
 }

 .sorteiosativos>.boxs-ativos {
   margin-top: 20px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 2%;
 }

 .sorteiosativos>.boxs-ativos .box {
   background-color: white;
   box-shadow: rgb(0 0 0 / 7%) 0px 0px 25px 2px;
   padding: 15px;
   border-radius: 10px;
   margin: 0px;
   /* display: flex; */
   flex-direction: column;
   align-items: center;
   padding-top: 15px;
   padding-bottom: 15px;
   transition: ease 1s;
   /* width: 25%; */
   cursor: pointer;
 }

 .sorteiosativos>div.boxs-ativos .box:hover {
   transform: translatey(-10px);
   transition: ease 1s;
 }

 .sorteiosativos>div.boxs-ativos .box .container-imagem {
   width: 100%;
   border-radius: 10px;
 }

 .sorteiosativos>div.boxs-ativos .box .container-imagem img {
   border-radius: 10px;
   width: 100%;
   object-fit: fill;
 }

 .sorteiosativos>div.boxs-ativos .box .container-marca {
   width: 100%;
 }

 .sorteiosativos>div.title>h2 {
   font-size: 30px;
 }

 /*slick*/
 .slick-dots,
 .flickity-page-dots {
   display: flex;
   justify-content: center;
   margin: 0;
   padding: 1rem 0;
   list-style-type: none;
 }

 .slick-next {
   width: max-content;
   position: absolute;
   top: 50%;
   left: 101%;
   cursor: pointer;
 }

 .slick-next img {
   width: 20px;
 }

 .slick-prev {
   width: max-content;
   position: absolute;
   top: 50%;
   right: 101%;
   cursor: pointer;
 }

 .slick-prev img {
   width: 20px;
 }

 .slick-dots li.slick-active button {
   background-color: rgb(252, 115, 34) !important;
   border-color: rgb(252, 115, 34) !important;
   color: rgb(252, 115, 34) !important;
 }

 body>section.sorteiosativos>div.boxs-ativos.slick-initialized.slick-slider.slick-dotted>ul>li button {
   background-color: white;
   color: white;
   border: 1px solid rgba(0, 0, 0, 0.582);
   border-radius: 10px;
 }

 .sorteiosativos>img {
   position: absolute;
   z-index: -98;
   height: 405px;
   width: 100%;
   left: 0px;
   opacity: 0.5;
   margin-top: -182px;
 }

 body>section.sorteiosativos>div.boxs-ativos.slick-initialized.slick-slider.slick-dotted>ul>li {
   height: 10px;
   width: 10px;
   margin: 15px;
   margin-top: 0;
 }

 .slick-initialized.slick-slider.slick-dotted>ul {
   padding: 0;
   transform: scale(0.6);
   margin-top: -10px;
 }

 /*section ganhadores*/
 .ganhadores>img {
   position: absolute;
   z-index: -99;
   height: 169%;
   width: 100%;
   left: 0px;
   opacity: 1;
   margin-top: -182px;
 }

 .ganhadores {
   display: grid;
   flex-direction: row;
   gap: 6%;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
 }

 .ganhadores>.tittle {
   margin-top: -60px;
 }

 .ganhadores>.tittle>h2 {
   font-size: 30px;
 }

 .ganhadores>.tittle>h5:nth-child(2) {
   margin-bottom: 50px;
 }

 .ganhadores>.tittle>h5:nth-child(4) {
   padding: 32px;
   padding-top: 24px;
 }

 .ganhadores>.tittle>a {
   font-size: 14px;
   text-decoration: none;
   padding: 20px 31px;
   border-radius: 40px !important;
   margin-top: 20px !important;
 }

 .cards {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   right: 0;
   width: -webkit-fill-available;
 }

 .cards .coluna .card .container-imagem {
   border-radius: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
 }

 .cards .coluna .card:hover {
   transform: translateY(-10px);
   transition: ease 1s;
 }

 .cards .coluna:nth-child(3) {
   animation: movecoluna 8s infinite;
 }

 .cards .coluna:nth-child(2) {
   animation: movecoluna2 12s infinite;
 }

 .cards .coluna:nth-child(1) {
   animation: movecoluna3 16s infinite;
 }

 @keyframes movecoluna {
   0% {
     transform: translateY(0px);
   }

   50% {
     transform: translateY(-10px);
   }

   100% {
     transform: translateY(0px);
   }
 }

 @keyframes movecoluna2 {
   0% {
     transform: translateY(0px);
   }

   50% {
     transform: translateY(-30px);
   }

   100% {
     transform: translateY(0px);
   }
 }

 @keyframes movecoluna3 {
   0% {
     transform: translateY(0px);
   }

   50% {
     transform: translateY(-30px);
   }

   100% {
     transform: translateY(0px);
   }
 }

 .cards .coluna .card .container-imagem img {
   border-radius: 10px;
   width: 100%;
   height: 250px;
   object-fit: cover;
 }

 .cards .coluna .card {
   background-color: white;
   padding: 12px;
   border-radius: 10px;
   margin: 0px !important;
   padding-top: 30px;
   box-shadow: rgb(0 0 0 / 7%) 0px 0px 25px 2px;
   transition: ease 1s;
 }

 .cards .coluna:nth-child(3) {
   margin-bottom: 145px;
 }

 .cards .coluna .card h6 {
   margin: 0;
 }

 .cards .coluna .card h3 {
   margin: 5px;
   margin-left: 0;
 }

 .cards .coluna .card .play {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
 }

 .cards .coluna .card .play img {
   width: 15px;
   filter: contrast(0.5);
 }


 /*footer*/
 .foo {
   overflow: hidden;
   padding: 40px 0px;
   display: grid;
   grid-auto-flow: column;
 }

 .foo a {
   float: left;
   color: #000000bf;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 13px;
   line-height: 25px;
   border-radius: 4px;
 }

 .foo .logo {
   display: flex;
 }

 .foo-redes {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   font-weight: 500;
   filter: contrast(0.5);
 }

 .direitos {
   display: grid;
   align-items: center;
   grid-auto-flow: column;
   color: #767676;
 }

 .direitos>div {
   display: flex;
   justify-content: flex-end;
 }

 .loader {
   border: 16px solid #f3f3f3;
   /* Light grey */
   border-top: 16px solid #3498db;
   /* Blue */
   border-radius: 50%;
   width: 60px;
   height: 60px;
   animation: spin 2s linear infinite;
 }

 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }

   100% {
     transform: rotate(360deg);
   }
 }

 .disabledclass {
   display: none;
 }

 .new-menu-mobile {
   transition: opacity 450ms, left 450ms ease-out;
   background-color: rgb(255, 255, 255);
   pointer-events: none;
   padding: 20px 27px;
   position: fixed;
   overflow: auto;
   color: #fff;
   height: 100%;
   width: 100%;
   left: -100%;
   opacity: 0;
   z-index: 1040;
   top: 0;
 }

 .menu-mobile-aberto {
   pointer-events: all;
   opacity: 1;
   left: 0;
   display: flex !important;
   flex-direction: column;
 }

 .close-menu {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    background-color: #fc7322;
    font-weight: 900;
 }

 hr.solid {
   border-top: 3px solid #bbb;
   width: 100%;
 }

 .align-text-menu-mobile {
   font-size: 20px !important;
   text-align: start !important;
 }

 .text-info-loja {
   background-color: white;
   max-width: 1366px;
   margin: auto !important;
   padding: 0px 60px;
   font-size: 11px;
   font-family: sans-serif;
 }

 .header-cnpj {
   background-color: #eeeeee00;
   max-width: 1246px;
   margin: auto !important;
   padding: 0px 0px;
 }

 .mg-mobile {
   margin: 0%;
 }

 .full-width-dialog .mat-dialog-container {
   max-width: 96vw !important;
 }

 .cdk-overlay-pane {
   max-width: 96vw !important;
 }

 .icon-participar {
   transform: scale(1.1);
 }

 .cdk-overlay-dark-backdrop {
   background: rgb(0 0 0 / 79%);
 }

 .colorSubTitle{
  line-height: 1.42857;color: #AAAAAA;
 }

 .card-header-black{
  background: linear-gradient(60deg, #4e4c4c, #181312) !important;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(12 12 12 / 40%) !important;
 }

 @media only screen and (max-width: 600px) {
   .sorteiosativos>.title h5 {
     padding-left: 10px;
     padding-right: 10px;
     font-size: 15px;
     color: #989899 !important;
   }

   .sorteiosativos.pagganhadores>div>div.two {
     align-items: center !important;
     justify-content: center !important;
   }

   .sorteiosativos.pagganhadores .title {
     flex-direction: column;
   }

   .sorteiosativos>.title {
     text-align: center;
     padding-left: 5px;
     padding-right: 5px;
   }

   .ganhadores>.tittle {
     text-align: center;
     margin-bottom: -20px;
   }

   .text-info-loja {
     padding: 0px 30px;
     font-size: 10px;
   }

   .header-cnpj {
     padding: 0px 15px;
     display: none;
   }

   .mg-mobile {
     margin: 2%;
   }

   .header {
     padding-bottom: 20px;
     -webkit-box-shadow: #2d3f4557 0 3px 11px 0 !important;
     padding: 10px;
     background-color: #ffffff;
     margin-bottom: 50px;
     width: 100%;
     margin-left: 0%;
   }

   /*minha conta*/
   .header-account {
     justify-content: flex-end;
   }

   /*logo*/
   .header a.logo {
     justify-content: flex-start;
     margin-top: 0px;
   }

   #content-box-participar {
     width: 108%;
     height: 110px;
     min-width: auto;
     padding: 5px;
     margin: 5px;
   }

   .sorteiosativos>.boxs-ativos {
     margin-top: 20px !important;
     display: grid !important;
     grid-template-columns: 1fr !important;
     flex-direction: column !important
   }

   .sorteiosativos>.boxs-ativos .box {
     width: 100%;
     margin-bottom: 20px;
     margin-top: 20px;
     padding: 0px;
   }

   .sorteiosativos>div.boxs-ativos .box .container-infos {
     margin-left: 20px;
   }

   .cards {
     flex-direction: column;
     margin-top: 20px;
   }

   .cards .coluna:nth-child(1) {
     grid-template-columns: 1fr !important;
     margin-top: 0px;
     width: 100%;
   }

   .cards .coluna .card .container-imagem img {
     border-radius: 10px;
     width: 100%;
     height: 300px;
   }

   .ganhadores>img {
     height: 1230px;
   }

   .desktop {
     display: none !important;
   }

   .mobile {
     display: block !important;
   }

   .menu-mobile-aberto {
     display: flex !important;
   }

   .foo {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 20px 0;
   }

   .sorteiosativos>div.boxs-ativos .box .container-infos>h5 {
     font-size: 12px;
   }

   .ganhadores>.tittle>h5:nth-child(2) {
     padding-left: 20px;
     padding-right: 20px;
     font-size: 15px;
     color: #989899 !important;
   }

   .ganhadores {
     display: flex;
     flex-direction: column;
   }

   .direitos {
     display: grid;
     align-items: center;
     grid-auto-flow: row;
     justify-content: center;
     padding-bottom: 20px;
   }

   .botao-laranja{
    padding: 15px 20px !important;
   }
 }